<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/admin">Admin</a></li>
    </ul>

    {% if myname == 'Baimai' %}
        <h1>ต้อนรับสู่ admin</h1>
        <h1>{{myname}}</h1>
        <h1>Your old is {{myage}}</h1>
        <img src="../static/minimoss.gif" alt="">
    {% else %}
        <h1>You not a admin</h1>

    {% endif %}
</body>
</html>