{% extends 'layout.html' %}
{% block Main_content %}

<div class="container my-2">
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.name.label}}
        {{form.name()}}

        <!-- Boolean Field -->

        {{form.isAccept}}{{form.isAccept.label}}
        <br>
        <!-- Radio -->
        {{form.gender.label}}{{form.gender()}}
        <br>
        <!-- Select -->
        {{form.skill.label}}{{form.skill()}}
        <br>
        {{form.submit()}}
    </form>
    <hr>
    {% if name %}
        Your name : {{name}}<br>
        Do you allow this contract ? {{isAccept}}<br>
        Your gender : {{gender}}
        <br>
        Your Skill : {{skill}}
    {% else %}
        
    {% endif %}
</div>



{% endblock %}
